.card {
    cursor: pointer;
    border-radius: 5%;
}

.card-img{
    border-radius: 5%;
}

p {
    font-family: 'Quicksand', sans-serif;
}

#overlay1 {
    border-radius: 5%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #ffadad;
}

#pj1:hover #overlay1 {
    opacity: 85%;
}

#overlay2 {
    border-radius: 5%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #ffd6a5;
}

#pj2:hover #overlay2 {
    opacity: 85%;
}

#overlay3 {
    border-radius: 5%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #fdffb6;
}

#pj3:hover #overlay3 {
    opacity: 85%;
}

#overlay4 {
    border-radius: 5%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #caffbf;
}

#pj4:hover #overlay4 {
    opacity: 85%;
}

#overlay5 {
    border-radius: 5%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #9bf6ff;
}

#pj5:hover #overlay5 {
    opacity: 85%;
}

#overlay6 {
    border-radius: 5%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #a0c4ff;
}

#pj6:hover #overlay6 {
    opacity: 85%;
}

.text {
    color: #6d6875;
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.text a {
    font-size: 15px;
    color: #6d6875;
}