.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: black;
}

.fa:hover {
    opacity: 0.7;
    text-decoration: none;
}

.zoom {
    transition: transform .2s;
    /* Animation */
}

.zoom:hover {
    transform: scale(1.2);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

#contact {
    background-color: #f3eff5;
    padding-top: 50px;
    padding-bottom: 50px;
}