#header {
    background-color: white;
}

.navbar-brand {
    font-family: 'Quicksand', sans-serif;
}

#brand-title {
    font-weight: 600;
    color: #50514F;
}

#brand-sub {
    color: #2f4550;
    opacity: 75%;
}