html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  color: #50514F;
  background-color: #fffcff;
}

img {
  max-width: 100%;
  max-height: 100%;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.6));
}


#contact {
  background-color: #f3eff5;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* coolors: https://coolors.co/ffadad-ffd6a5-fdffb6-caffbf-9bf6ff-a0c4ff-bdb2ff-ffc6ff-fffffc */

#overlay1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #ffadad;
}

#pj1:hover #overlay1 {
  opacity: 85%;
}

#overlay2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #ffd6a5;
}

#pj2:hover #overlay2 {
  opacity: 85%;
}

#overlay3 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #fdffb6;
}

#pj3:hover #overlay3 {
  opacity: 85%;
}

#overlay4 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #caffbf;
}

#pj4:hover #overlay4 {
  opacity: 85%;
}

#overlay5 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #9bf6ff;
}

#pj5:hover #overlay5 {
  opacity: 85%;
}

#overlay6 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #a0c4ff;
}

#pj6:hover #overlay6 {
  opacity: 85%;
}

.text {
  color: #6d6875;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.text a {
  font-size: 15px;
  color: #6d6875;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

@media only screen and (max-width: 600px) {
  #home {
      padding-top: 100px;
      padding-bottom: 70px;
  }
  #site-header {
      display: none;
  }
  #site-header-mobile {
      display: block;
  }
}

@media only screen and (min-width: 601px) {
  #img-div {
      position: relative;
  }
  #img-div img {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%)
  }
}

#contact a {
  text-decoration: none;
}

.zoom {
  transition: transform .2s;
  /* Animation */
}

.zoom:hover {
  transform: scale(1.2);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.tab {
  overflow: hidden;
}

/* Style the tab content */

.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}